<p id="notice"><%= notice %></p>

<h1>Active Classes</h1>

<table>
  <thead>
    <tr>
      <th>Class name</th>
      <th>Max Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @active_classes.each do |active_class| %>
      <tr>
        <td><%= active_class.class_name %></td>
        <td><%= active_class.max_number %>명</td>
        <td><%= ActiveClassList.where(active_class_id: active_class).size %>명</td>
        <td><%= link_to 'Show', active_class %></td>
        <td><%= link_to 'Edit', edit_active_class_path(active_class) %></td>
        <td><%= link_to 'Destroy', active_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Active Class', new_active_class_path %>
<%= link_to 'Back', students_path %>
