<%= form_with(model: active_class_list, local: true) do |form| %>
  <% if active_class_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(active_class_list.errors.count, "error") %> prohibited this active_class_list from being saved:</h2>

      <ul>
      <% active_class_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  <div class="field">
    <%= form.label :active_class_id %>
    <%= form.text_field :active_class_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
